name: QA Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  code-quality:
    timeout-minutes: 5
    name: Code Quality
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: mbstring, intl, pdo_mysql, xml
          coverage: none

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-interaction
        working-directory: service-app

      - name: Install NPM dependencies
        run: npm install
        working-directory: service-app

#      - name: Run PHP-CS-Fixer
#        run: php vendor/bin/php-cs-fixer fix --dry-run --diff
#        working-directory: service-app
#
#      - name: Run PHPStan
#        run: php vendor/bin/phpstan analyse
#        working-directory: service-app
#
#      - name: Run Rector
#        run: php vendor/bin/rector process src --dry-run
#        working-directory: service-app
#
#      - name: Run TwigCS
#        run: php vendor/bin/twigcs templates
#        working-directory: service-app

  tests:
    timeout-minutes: 5
    name: Tests
    runs-on: ubuntu-latest
    needs: code-quality
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_DATABASE: symfony
          MYSQL_USER: symfony
          MYSQL_PASSWORD: symfony
          MYSQL_ROOT_PASSWORD: root
          CI: true
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    env:  # <-- ici, pour tout le job
      DATABASE_HOST: 127.0.0.1
      DATABASE_PORT: 3306
      DATABASE_NAME: symfony
      DATABASE_USER: root
      DATABASE_PASSWORD: root
      DATABASE_URL: mysql://root:root@127.0.0.1:3306/symfony

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: mbstring, intl, pdo_mysql, xml
          coverage: none

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-interaction
        working-directory: service-app

      - name: Install NPM dependencies
        run: npm install
        working-directory: service-app

      - name: Build assets for tests
        run: yarn install && yarn dev
        working-directory: service-app

      - name: Prepare TEST database
        run: |
          php bin/console doctrine:database:create --env=test --if-not-exists
          php bin/console doctrine:migrations:migrate --env=test --no-interaction
          mysql -h $DATABASE_HOST -u $DATABASE_USER -p$DATABASE_PASSWORD $DATABASE_NAME < ../data/fixtures/db.dump.sql
        working-directory: service-app

      - name: Validate Doctrine schema
        run: php bin/console doctrine:schema:validate --env=test
        working-directory: service-app

      #      - name: Load fixtures
      #        run: php bin/console doctrine:fixtures:load --env=test --no-interaction
      #        working-directory: service-app

      - name: Run PHPUnit tests
        run: php bin/phpunit --colors=always
        working-directory: service-app

      - name: Run Behat tests
        run: php vendor/bin/behat --config=behat.yml
        working-directory: service-app
